In [1]:
import pandas as pd
import os

# Ruta del directorio que contiene los archivos Excel
directorio = '../data'

# Lista para almacenar los DataFrames de cada archivo Excel
dfs = []

# Iterar sobre cada archivo en el directorio
for filename in os.listdir(directorio):
    if filename.endswith('.xlsx'):  # Asegurarse de que solo se consideren archivos Excel
        filepath = os.path.join(directorio, filename)
        # Leer cada archivo Excel y almacenar el DataFrame en la lista
        df = pd.read_excel(filepath)
        dfs.append(df)

# Combinar todos los DataFrames en uno solo
df_final = pd.concat(dfs, ignore_index=True)

# Imprimir el DataFrame combinado
print(df_final)

# Opcional: Guardar el DataFrame combinado en un nuevo archivo Excel
df_final.to_excel('archivo_combinado.xlsx', index=False)

        OrgVt    Ce.     Año  Nmes  Mes   Día                Fecha  \
0      1000.0  100.0  2023.0  11.0  Nov  30.0           30.11.2023
1      1000.0  100.0  2023.0  11.0  Nov  30.0           30.11.2023
2      1000.0  100.0  2023.0  11.0  Nov  30.0           30.11.2023
3      1000.0  100.0  2023.0  11.0  Nov  30.0           30.11.2023
4      1000.0  100.0  2023.0  11.0  Nov  30.0           30.11.2023
...       ...    ...     ...   ...  ...   ...                  ...
14765  1000.0  100.0  2023.0   2.0  Feb  28.0  2023-02-28 00:00:00
14766  1000.0  100.0  2023.0   2.0  Feb  28.0  2023-02-28 00:00:00
14767  1000.0  100.0  2023.0   2.0  Feb  28.0  2023-02-28 00:00:00
14768  1000.0  100.0  2023.0   2.0  Feb  28.0  2023-02-28 00:00:00
14769  1000.0  100.0  2023.0   2.0  Feb  28.0  2023-02-28 00:00:00

            Factura  Pos_VFT Tipo Doc  ... Flete Distribuidor Segmento  \
0          90168310     40.0     ZPEP  ...                NaN        0
1          90168310     60.0     ZPEP  ...                NaN        0
2          90168310     70.0     ZPEP  ...                NaN        0
3          90168309     10.0     ZTAN  ...                NaN        0
4          90168302     20.0     ZTAN  ...        1738.626818     RARD
...             ...      ...      ...  ...                ...      ...
14765        331825     10.0        0  ...           0.000000     PROD
14766        331859     10.0        0  ...           0.000000     PROD
14767        331859     10.0        0  ...           0.000000     PROD
14768  NOTACOBRO168     10.0        0  ...           0.000000     PROD
14769  NOTACOBRO167     10.0        0  ...           0.000000     PROD

      Vendedor                  SubFamilia Unnamed: 9 Kilos totatesl  \
0           CM           Mallas Especiales        NaN            NaN
1           CM           Mallas Especiales        NaN            NaN
2           CM           Barras Especiales        NaN            NaN
3           FD                Mallas Stock        NaN            NaN
4           OF  Pilares / Cadenas de Stock        NaN            NaN
...        ...                         ...        ...            ...
14765       OF       Desechos Industriales        NaN            0.0
14766       OF       Desechos Industriales        NaN            0.0
14767       OF       Desechos Industriales        NaN            0.0
14768       OF                    Arriendo        NaN            0.0
14769       OF                    Arriendo        NaN            0.0

      Unnamed: 0  Unnamed: 1 Unnamed: 2  Guías
0            NaN         NaN        NaN    NaN
1            NaN         NaN        NaN    NaN
2            NaN         NaN        NaN    NaN
3            NaN         NaN        NaN    NaN
4            NaN         NaN        NaN    NaN
...          ...         ...        ...    ...
14765        NaN         NaN        NaN    RET
14766        NaN         NaN        NaN    RET
14767        NaN         NaN        NaN    RET
14768        NaN         NaN        NaN    RET
14769        NaN         NaN        NaN    RET

[14770 rows x 66 columns]

In [3]:
df_final.columns

Index(['OrgVt', 'Ce.', ' Año', 'Nmes', 'Mes', 'Día', 'Fecha', 'Factura',
       'Pos_VFT', 'Tipo Doc', 'Rut Cliente', 'Nombre Cliente', 'Mercado',
       'Tipo Cliente', 'Segmento Cliente', 'País', 'Moneda', 'Cantidad', 'UMV',
       '         Kg', '     TM', ' Valor F/Neto', 'Valor F/Bruto',
       'Valor_Precio', 'Dscto. Distribuidor', 'Dscto. Financiero',
       'Dscto. Especial', 'Dscto. Al Pedido', 'Dscto. Promoción',
       'DISTRIBUIDOR', 'Dscto. Cliente/Material', 'Dscto. Redondeo',
       'Exp_Flete', 'Exp_Seguro', 'Flte. Importe', 'Material',
       'Descripción Material', 'Embalaje', 'Clas. General', 'Mktg',
       'Clas. Mktg', 'Folio', 'Guía_Despacho', 'OV', 'Num. Pedido Cliente',
       'Tipo Ingreso', 'Calle', 'Sucursal', 'Ciudad Destino', 'Región', 'NRD',
       'Ciudad', 'Región.1', 'Nombre Cliente Final', 'Cto. Logistico',
       'Flete RE', 'Flete Distribuidor', 'Segmento', 'Vendedor', 'SubFamilia',
       'Unnamed: 9', 'Kilos totatesl', 'Unnamed: 0', 'Unnamed: 1',
       'Unnamed: 2', 'Guías'],
      dtype='object')

In [4]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14770 entries, 0 to 14769
Data columns (total 66 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   OrgVt                    14749 non-null  float64
 1   Ce.                      14749 non-null  float64
 2    Año                     14749 non-null  float64
 3   Nmes                     14749 non-null  float64
 4   Mes                      14749 non-null  object
 5   Día                      14749 non-null  float64
 6   Fecha                    14749 non-null  object
 7   Factura                  14749 non-null  object
 8   Pos_VFT                  14749 non-null  float64
 9   Tipo Doc                 14735 non-null  object
 10  Rut Cliente              14748 non-null  object
 11  Nombre Cliente           14748 non-null  object
 12  Mercado                  14749 non-null  object
 13  Tipo Cliente             14749 non-null  object
 14  Segmento Cliente         14749 non-null  object
 15  País                     14749 non-null  object
 16  Moneda                   14749 non-null  object
 17  Cantidad                 14717 non-null  float64
 18  UMV                      14703 non-null  object
 19           Kg              14740 non-null  float64
 20       TM                  14735 non-null  float64
 21   Valor F/Neto            14749 non-null  float64
 22  Valor F/Bruto            14749 non-null  float64
 23  Valor_Precio             14749 non-null  float64
 24  Dscto. Distribuidor      14749 non-null  float64
 25  Dscto. Financiero        14749 non-null  float64
 26  Dscto. Especial          14749 non-null  float64
 27  Dscto. Al Pedido         14749 non-null  float64
 28  Dscto. Promoción         14749 non-null  float64
 29  DISTRIBUIDOR             14749 non-null  float64
 30  Dscto. Cliente/Material  14749 non-null  float64
 31  Dscto. Redondeo          14749 non-null  float64
 32  Exp_Flete                14749 non-null  float64
 33  Exp_Seguro               14749 non-null  float64
 34  Flte. Importe            14749 non-null  float64
 35  Material                 14749 non-null  object
 36  Descripción Material     14740 non-null  object
 37  Embalaje                 14719 non-null  float64
 38  Clas. General            14749 non-null  object
 39  Mktg                     14748 non-null  object
 40  Clas. Mktg               14749 non-null  object
 41  Folio                    14703 non-null  object
 42  Guía_Despacho            14703 non-null  object
 43  OV                       14717 non-null  float64
 44  Num. Pedido Cliente      14717 non-null  object
 45  Tipo Ingreso             14717 non-null  object
 46  Calle                    14703 non-null  object
 47  Sucursal                 14702 non-null  object
 48  Ciudad Destino           14703 non-null  object
 49  Región                   14712 non-null  object
 50  NRD                      14717 non-null  float64
 51  Ciudad                   14740 non-null  object
 52  Región.1                 14712 non-null  object
 53  Nombre Cliente Final     14702 non-null  object
 54  Cto. Logistico           14749 non-null  float64
 55  Flete RE                 13195 non-null  float64
 56  Flete Distribuidor       4071 non-null   float64
 57  Segmento                 14749 non-null  object
 58  Vendedor                 14749 non-null  object
 59  SubFamilia               14749 non-null  object
 60  Unnamed: 9               1297 non-null   object
 61  Kilos totatesl           11402 non-null  float64
 62  Unnamed: 0               20 non-null     object
 63  Unnamed: 1               20 non-null     object
 64  Unnamed: 2               20 non-null     object
 65  Guías                    4253 non-null   object
dtypes: float64(30), object(36)
memory usage: 7.4+ MB

In [5]:
df_final['OrgVt'].unique()

array([1000.,   nan])

In [6]:
df_sin_nan = df_final.dropna(subset=['OrgVt'])
df_sin_nan["OrgVt"].unique()

array([1000.])

In [7]:
df_sin_nan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14749 entries, 0 to 14769
Data columns (total 66 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   OrgVt                    14749 non-null  float64
 1   Ce.                      14749 non-null  float64
 2    Año                     14749 non-null  float64
 3   Nmes                     14749 non-null  float64
 4   Mes                      14749 non-null  object
 5   Día                      14749 non-null  float64
 6   Fecha                    14749 non-null  object
 7   Factura                  14749 non-null  object
 8   Pos_VFT                  14749 non-null  float64
 9   Tipo Doc                 14735 non-null  object
 10  Rut Cliente              14748 non-null  object
 11  Nombre Cliente           14748 non-null  object
 12  Mercado                  14749 non-null  object
 13  Tipo Cliente             14749 non-null  object
 14  Segmento Cliente         14749 non-null  object
 15  País                     14749 non-null  object
 16  Moneda                   14749 non-null  object
 17  Cantidad                 14717 non-null  float64
 18  UMV                      14703 non-null  object
 19           Kg              14740 non-null  float64
 20       TM                  14735 non-null  float64
 21   Valor F/Neto            14749 non-null  float64
 22  Valor F/Bruto            14749 non-null  float64
 23  Valor_Precio             14749 non-null  float64
 24  Dscto. Distribuidor      14749 non-null  float64
 25  Dscto. Financiero        14749 non-null  float64
 26  Dscto. Especial          14749 non-null  float64
 27  Dscto. Al Pedido         14749 non-null  float64
 28  Dscto. Promoción         14749 non-null  float64
 29  DISTRIBUIDOR             14749 non-null  float64
 30  Dscto. Cliente/Material  14749 non-null  float64
 31  Dscto. Redondeo          14749 non-null  float64
 32  Exp_Flete                14749 non-null  float64
 33  Exp_Seguro               14749 non-null  float64
 34  Flte. Importe            14749 non-null  float64
 35  Material                 14749 non-null  object
 36  Descripción Material     14740 non-null  object
 37  Embalaje                 14719 non-null  float64
 38  Clas. General            14749 non-null  object
 39  Mktg                     14748 non-null  object
 40  Clas. Mktg               14749 non-null  object
 41  Folio                    14703 non-null  object
 42  Guía_Despacho            14703 non-null  object
 43  OV                       14717 non-null  float64
 44  Num. Pedido Cliente      14717 non-null  object
 45  Tipo Ingreso             14717 non-null  object
 46  Calle                    14703 non-null  object
 47  Sucursal                 14702 non-null  object
 48  Ciudad Destino           14703 non-null  object
 49  Región                   14712 non-null  object
 50  NRD                      14717 non-null  float64
 51  Ciudad                   14740 non-null  object
 52  Región.1                 14712 non-null  object
 53  Nombre Cliente Final     14702 non-null  object
 54  Cto. Logistico           14749 non-null  float64
 55  Flete RE                 13195 non-null  float64
 56  Flete Distribuidor       4071 non-null   float64
 57  Segmento                 14749 non-null  object
 58  Vendedor                 14749 non-null  object
 59  SubFamilia               14749 non-null  object
 60  Unnamed: 9               1297 non-null   object
 61  Kilos totatesl           11402 non-null  float64
 62  Unnamed: 0               0 non-null      object
 63  Unnamed: 1               0 non-null      object
 64  Unnamed: 2               0 non-null      object
 65  Guías                    4253 non-null   object
dtypes: float64(30), object(36)
memory usage: 7.5+ MB

In [ ]:
df1.drop(columns=['OrgVt'])

In [12]:
df1 = df_final.drop(columns=['OrgVt'])

In [13]:
df_final['Ce.'].unique()

array([100.,  nan])

In [17]:
df1["País"].unique()

array(['Chile', nan], dtype=object)

In [19]:
import pandas as pd
from geopy.distance import geodesic
import googlemaps

# Clave de la API de Google Maps (reemplaza 'TU_CLAVE_API' con tu propia clave)
clave_api_google = 'AIzaSyAdEtz1hTbPQaKrCmdM7u2FPDlSDlM48w8'
gmaps = googlemaps.Client(key=clave_api_google)

# Dirección de referencia para el cálculo de distancia
direccion_referencia = "Maruri 1942, 8640420 Renca, Región Metropolitana"

# Función para obtener la distancia en kilómetros entre dos direcciones
def obtener_distancia(direccion1, direccion2):
    coord1 = gmaps.geocode(direccion1)[0]['geometry']['location']
    coord2 = gmaps.geocode(direccion2)[0]['geometry']['location']
    distancia = geodesic((coord1['lat'], coord1['lng']), (coord2['lat'], coord2['lng'])).kilometers
    return distancia

# Agregar una nueva columna "DISTANCIA" al DataFrame
df_final['DISTANCIA'] = df_final['Calle'].apply(lambda x: obtener_distancia(x, direccion_referencia))

# Imprimir el DataFrame con la nueva columna
print("DataFrame con la nueva columna 'DISTANCIA':")
print(df_final)

ApiError: REQUEST_DENIED (You must enable Billing on the Google Cloud Project at https://console.cloud.google.com/project/_/billing/enable Learn more at https://developers.google.com/maps/gmp-get-started)